{% extends 'layout.html.twig' %}
{% block title %}E4{% endblock %}
{% block body %}
    <body class="bodyMembers">
        <div class="container">
            <h1 id="titleMembers">Liste des Membres permanents</h1>
            {% for members in arrayMembers %}
            <div class="col-lg-12 goldenZoneMembers">
                <div class="col-lg-6">
                    <img src="{{ asset('bundles/boissieree4/less/images/Members/'~members.picture|e) }}" class="MemberPic">

                </div>
                <div class="col-lg-6 membersDiv">
                    <h2>Nom : {{ members.namemember }}</h2>
                    <br>
                    <p>Description : {{ members.description }}</p>
                    <p>Instrument : {{ members.instrument }}</p>
                    <p> {% if is_granted('ROLE_ADMIN') %}
                            <a href="/addMember"><span class="glyphicon glyphicon-plus"></span></a>
                            <a href="{{ path('boissiere_e4_editMemberPage',{'id':members.idmember}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="{{ path('boissiere_e4_deleteMemberPage',{'id':members.idmember}) }}"><span class="glyphicon glyphicon-minus"></span></a>
                        {% endif %}</p>
                </div>
            </div>
                {% else %}
                    <tr><td>Aucun Membre n'a été trouvé.</td></tr>
        </div>
                {% endfor %}
        </div>

    </body>
{% endblock %}