{% extends 'layout.html.twig' %}
{% block title %}E4{% endblock %}
{% block body %}
<body class="bodyPlannning">

<div class="container">
    <h1 id="titleEvents">Liste des évenements</h1>
    {% for events in arrayEvents %}
    <div class="col-lg-12 goldenZoneAssoc" id="goldenZoneEvents">
    <table class="table" id="tableEvents">
        <thead class="theadEvents">
        <th>Nom</th>
        <th>Lieu</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th><a href="{{ path('boissiere_e4_moderationEventPage', {'id':events.idevent}) }}"><span class="glyphicon glyphicon-alert"></span></a></th>
        {% if is_granted('ROLE_ADMIN') %}<th>
                <a href="{{ path('boissiere_e4_AddEventPage') }}"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{{ path('boissiere_e4_editEventPage',{'id':events.idevent}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="{{ path('boissiere_e4_deleteEventPage',{'id':events.idevent}) }}"><span class="glyphicon glyphicon-minus"></span></a>
            {% endif %}
        </th>
        </thead>
        <tbody>

            <tr>
                <td class="eventsTable eventsName">{{ events.nomevent }}</td>
                <td class="eventsTable">{{ events.lieu }}</td>
                <td class="eventsTable">{{ events.datedebut|date('d-m-Y') }}</td>
                <td >{{ events.datefin|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <td class="eventsPictureTable" colspan="5"><img src="{{ asset('bundles/boissieree4/less/images/Events/'~events.picture|e) }}" class="EventPic"></td>
            </tr>
            <tr>
                <td class="eventsTable" colspan="5">{{ events.description }}</td>
            </tr>
        </tbody>
    </table>
    </div>
        {% else %}
            <tr><td>Aucun Evenement n'a été trouvé.</td></tr>
        </tbody>
    </table>
            </div>
    {% endfor %}
</div>
</body>
{% endblock %}

