{% extends 'layout.html.twig' %}
{% block title %}E4{% endblock %}
{% block body %}
<body class="songsBody">
    <div class="container">
        <h1 id="titleSongs">Liste des sons SLAPTRACK</h1>
        <div class="goldenZoneSongs col-lg-12">
            <table class="tableSongs table table-striped">
                <thead class="theadSongs">
                    <th>Nom</th>
                    <th>Groupe</th>
                    <th>Style</th>
                    <th>Ecoute</th>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <th>
                        <a href="{{ path('boissiere_e4_AddSongPage') }}"><span class="glyphicon glyphicon-plus"></span></a>
                        {% endif %}
                    </th>
                </thead>
                <tbody>
                {% for songs in arraySongs %}
                    <tr>
                        <td>{{ songs.namesong }}</td>
                        <td>{{ songs.idgroup }}</td>
                        <td>{{ songs.style }}</td>
                        <td><a href="{{ path('boissiere_e4_DownloadPage',{'filename':songs.songpath}) }}"><span class="glyphicon glyphicon-download-alt"></span> </a></td>
                        <td><a href="{{ path('boissiere_e4_deleteSongPage',{'id':songs.idsong}) }}"><span class="glyphicon glyphicon-minus"></span></a></td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}