{% extends 'layout.html.twig' %}
{% block title %}E4{% endblock %}
{% block body %}
<body class="bodyPlannning">
{% block Navbar %}{% endblock %}
<div class="col-lg-12 goldenZoneAssoc" id="goldenZoneEvents">
<div class="container">
    <h1 id="titleEvents">Liste des évenements</h1>
    <table class="table" id="tableEvents">
        <thead class="theadEvents">
        <th>Nom</th>
        <th>Lieu</th>
        <th>Date début</th>
        <th>Date fin</th>

        </thead>
        <tbody>
        {% for events in arrayEvents %}
            <tr>
                <td class="eventsTable">{{ events.nomevent }}</td>
                <td class="eventsTable">{{ events.lieu }}</td>
                <td class="eventsTable">{{ events.datedebut|date('d-m-Y') }}</td>
                <td >{{ events.datefin|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <td class="eventsTable" colspan="4">{{ events.description }}</td>
            </tr>
        {% else %}
            <tr><td>Aucun Evenement n'a été trouvé.</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}

